<html>

<head>
  <title>Cashflow - Login</title>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/auth.css">
</head>

<body>
  <div class="page-wrapper flex-row">
    <div id="main-image">
      <img src="images/cashflow-image-big.png" alt="Cashflow" title="Cashflow">
    </div>
    <div class="interaction-box flex-column">
      <h2 class="heading">Login</h2>
      <form action="/login" method="post" class="flex-column">
        <div>
          <input class="large-font" type="text" name="username" id="username-input" placeholder="Username" required>
        </div>
        <div>
          <input class="large-font" type="password" name="password" id="password-input" placeholder="Password" required>
        </div>
        <div class="submit-button flex-row">
          <input class="big-font" id="login-button" type="submit" value="Login">
        </div>
        <div id="message">__MESSAGE__</div>
      </form>
      <div class="small-font" id="suggestion">Not an user? <a href="/register" style="color: blue;">Register</a></div>
    </div>
  </div>
</body>

</html>