.page-wrapper {
  height: 100%;
  align-items: center;
  width: fit-content;
}

form {
  gap: 2vmax;
}

input[type=text],
input[type=password] {
  font-size: 2vmax;
  text-align: center;
  border-style: none;
  outline: none;
  border-bottom: 2px solid black;
}

.submit-button {
  align-items: center;
  justify-content: center;
}

.submit-button>input {
  padding: 0.4vmax 1vmax;
  font-size: 1.5vmax;
  cursor: pointer;
  border: var(--big-border);
  border-radius: 0.7vmax;
  background-color: white;
  color: black;
}

#message {
  color: red;
  height: 1vmax;
  text-align: center;
}

#suggestion {
  font-size: 1vmax;
}

#suggestion a {
  text-decoration: none;
}

#main-image {
  margin: 5vmax;
  height: 90vh;
  aspect-ratio: 1;
  overflow: hidden;
}

#main-image img {
  height: 100%;
}