.page-wrapper {
  display: flex;
  padding: 0.5em;
  column-gap: 0.5em;
  height: 100vh;
  width: 100vw;
}

#board {
  width: 85vw;
  max-width: 85vw;
  max-height: 100vh;
  justify-content: stretch;
  /* position: relative; */
}

#game-panel {
  border: var(--def-border);
  width: 15vw;
  height: 100%;
  display: flex;
  flex-flow: column;
  gap: 1.5vmax;
  overflow: hidden;
}

#game-panel>header {
  display: flex;
  justify-content: center;
}

header>h2 {
  font-size: var(--page-header);
}

a {
  text-decoration: none;
  color: inherit;
}

#game-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#game-nav ul {
  list-style: none;
  display: flex;
  flex-flow: column;
  width: 85%;
  gap: 1em;
}

#game-panel ul>li {
  border: var(--def-border);
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  display: flex;
  align-items: center;
  font-size: var(--plain-font);
  gap: 1.2vmax;
  padding: 0.5em 0.8em;
  cursor: pointer;
}

#loan-options {
  display: flex;
  justify-content: space-evenly;
}

#loan-options>div {
  padding: 0.7vmax;
  font-size: 1vmax;
  border: var(--def-border)
}

#logs {
  border: var(--def-border);
  width: 85%;
  height: 35%;
  align-self: center;
  overflow: scroll;
}

#logs::-webkit-scrollbar {
  display: none;
}

#logs .log-icon {
  width: 8%;
  aspect-ratio: 1;
}

#logs .log-msg {
  width: 90%;
}

#logs>div:last-child {
  font-weight: 600;
  color: black;
}

#logs .log {
  width: 100%;
  display: flex;
  gap: 0.2vmax;
  align-items: center;
  padding: 0.4vmax 0.8vmax;
  color: gray;
}

#dice-box {
  border: var(--def-border);
  border-style: dashed;
  width: 85%;
  min-width: 70px;
  align-self: center;
  aspect-ratio: 2.2;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

#board-toggle {
  width: 35%;
  aspect-ratio: 3;
  border: var(--def-border);
  align-self: center;
}

.ratrace-tile {
  border: var(--def-border);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2vmax;
  position: relative;
}

.tile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.5vmax;
  position: absolute;
}

.ratrace-tile img {
  width: 45%;
  aspect-ratio: auto;
}

.card-deck img {
  width: 50%;
  aspect-ratio: auto;
}

.deal {
  background-color: var(--deal-bg);
  border: 0.2vmax solid var(--deal-border);
}

.doodad {
  background-color: var(--doodad-bg);
  border: 0.2vmax solid var(--doodad-border);
}

.payday {
  background-color: var(--payday-bg);
  border: 0.2vmax solid var(--payday-border);
}

.market {
  background-color: var(--market-bg);
  border: 0.2vmax solid var(--market-border);
}

.purples,
.downsized,
.baby,
.charity {
  background-color: var(--others-bg);
  border: 0.2vmax solid var(--others-border);
}

#board {
  display: grid;
  justify-content: stretch;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

/* Grid element positions START*/
#rat-tile-1 {
  grid-row: 6;
  grid-column: 3;
}

#rat-tile-2 {
  grid-row: 6;
  grid-column: 2;
}

#rat-tile-3 {
  grid-row: 6;
  grid-column: 1;
}

#rat-tile-4 {
  grid-row: 5;
  grid-column: 1;
}

#rat-tile-5 {
  grid-row: 4;
  grid-column: 1;
}

#rat-tile-6 {
  grid-row: 3;
  grid-column: 1;
}

#rat-tile-7 {
  grid-row: 2;
  grid-column: 1;
}

#rat-tile-8 {
  grid-row: 1;
  grid-column: 1;
}

#rat-tile-9 {
  grid-row: 1;
  grid-column: 2;
}

#rat-tile-10 {
  grid-row: 1;
  grid-column: 3;
}

#rat-tile-11 {
  grid-row: 1;
  grid-column: 4;
}

#rat-tile-12 {
  grid-row: 1;
  grid-column: 5;
}

#rat-tile-13 {
  grid-row: 1;
  grid-column: 6;
}

#rat-tile-14 {
  grid-row: 1;
  grid-column: 7;
}

#rat-tile-15 {
  grid-row: 1;
  grid-column: 8;
}

#rat-tile-16 {
  grid-row: 2;
  grid-column: 8;
}

#rat-tile-17 {
  grid-row: 3;
  grid-column: 8;
}

#rat-tile-18 {
  grid-row: 4;
  grid-column: 8;
}

#rat-tile-19 {
  grid-row: 5;
  grid-column: 8;
}

#rat-tile-20 {
  grid-row: 6;
  grid-column: 8;
}

#rat-tile-21 {
  grid-row: 6;
  grid-column: 7;
}

#rat-tile-22 {
  grid-row: 6;
  grid-column: 6;
}

#rat-tile-23 {
  grid-row: 6;
  grid-column: 5;
}

#rat-tile-24 {
  grid-row: 6;
  grid-column: 4;
}

.game-area {
  grid-row: 2/6;
  grid-column: 2/8;
}

/* grid element positions end */

.game-area {
  /* background-color: lightgray; */
  margin: 0.5vmax;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  justify-content: stretch;
}

/* game area element positions  START*/

.card-deck,
#players,
#game-stats,
#logs {
  border: 0.2vmax solid;
  border-radius: 0.5vmax;
}

.card-deck {
  display: flex;
  flex-direction: column;
  row-gap: 0.5vmax;
  justify-content: center;
  align-items: center;
}

#market {
  grid-row: 1/3;
  grid-column: 1;
  background-color: var(--market-bg);
  border-color: var(--market-border);
}

#small-deal {
  grid-row: 7/9;
  grid-column: 1;
  background-color: var(--deal-bg);
  border-color: var(--deal-border);
}

#big-deal {
  grid-row: 1/3;
  grid-column: 5;
  background-color: var(--deal-bg);
  border-color: var(--deal-border);
}

#big-deal img {
  width: 60%;
}

#doodad {
  grid-row: 7/9;
  grid-column: 5;
  background-color: var(--doodad-bg);
  border-color: var(--doodad-border);
}

/* game area element positions  end*/

#players {
  grid-row: 3/7;
  grid-column: 1;
  background-color: whitesmoke;
  border-color: black;
  margin: 1vmax 0.5vmax;
  display: flex;
  padding: 0.4vmax 1vmax;
  flex-direction: column;
  gap: 0.3vmax;
}

#game-stats {
  grid-row: 3/7;
  grid-column: 5;
  background-color: whitesmoke;
  border: 0.2vmax dashed black;
  margin: 1vmax 0.1vmax;
  display: flex;
  flex-direction: column;
}

#game-stats .heading {
  text-align: center;
  font-weight: 800;
  font-size: 1.3vmax;
  margin: 0.5vmax;
  padding-bottom: 1vmax;
}

#game-stats table {
  border-spacing: 0.5vmax;
}

#game-stats table th {
  max-width: 50%;
  text-align: right;
}

#game-stats table td {
  max-width: 50%;
  text-align: left;
}

#game-stats table tr {
  padding: 0.3vmax 0;
}

.interaction-space {
  grid-row: 2/8;
  grid-column: 2/5;
  margin: 0 1vmax;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

/* interaction space arrangement START */

#interaction-screen {
  grid-row: 1;
  grid-column: 1/7;
}

/* Card design starts */

#main-card {
  grid-row: 2/6;
  grid-column: 2/6;
  margin: 1vmax;
  border-radius: 0.5vmax;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#main-card .card-heading {
  font-size: 1.3vmax;
  font-weight: 500;
  width: 100%;
  height: 20%;
  text-align: center;
}

#main-card .description {
  width: 100%;
  height: 30%;
}

#main-card .rule {
  width: 100%;
  height: 35%;
}

#main-card .cost {
  font-size: 1vmax;
  font-weight: 600;
  padding: 1vmax;
  text-align: center;
}

#main-card .actions {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
}

#main-card .actions-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

#main-card .actions .action-btn {
  width: 20%;
  height: 80%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/* Card design ends */

#message-space {
  grid-row: 6;
  grid-column: 1/7;
}

/* dice box positions  Start*/

#dice-box .dice {
  width: 65px;
  aspect-ratio: 1;
  border: var(--def-border);
  border-radius: 0.2vmax;
  background-color: crimson;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.dot {
  position: absolute;
  width: 0.7vmax;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  border: var(--def-border);
}

.two-1,
.three-1,
.four-1,
.five-1,
.six-1 {
  top: 15%;
  left: 15%;
}

.four-3,
.five-3,
.six-4 {
  left: 15%;
  bottom: 15%;
}

.one-1,
.three-2,
.five-5 {
  position: initial;
}

.four-2,
.five-2,
.six-3 {
  top: 15%;
  right: 15%;
}

.two-2,
.three-3,
.four-4,
.five-4,
.six-6 {
  bottom: 15%;
  right: 15%;
}

.six-2 {
  left: 15%;
}

.six-5 {
  right: 15%;
}

/* dice box positions  End*/

/* Initial player positions */

#rat-tile-0 {
  grid-row: 8;
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  margin: 0.5vmax 1vmax;
  gap: 0.1vmax;
}

.start {
  font-weight: 900;
}

.tile-name {
  font-weight: 500;
}

.success {
  color: green;
  text-align: center;
  font-size: 1vmax;
}

.warning {
  color: red;
  text-align: center;
  font-size: 1vmax;
}

#expansion-window {
  position: absolute;
  z-index: -1;
  width: 84vw;
  height: 98vh;
  max-width: 85vw;
  max-height: 100vh;
}

.pulsate {
  animation-name: pulsate;
  animation-duration: 450ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes pulsate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.18);
  }
}