body {
  background-color: beige;
}

.page-wrapper {
  padding: 0.5em;
  /* column-gap: 0.5em; */
  height: 100vh;
  width: 100vw;
}

#board-space {
  width: 85vw;
  max-width: 85vw;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

#game-panel {
  border: var(--def-border);  
  width: 15vw;
  height: 100%;
  gap: 1.5vmax;
  overflow: hidden;
}

#game-panel>header {
  justify-content: center;
}

#game-panel>header {
  margin-top: 0.5vmax;
}
#game-panel>header a{
  justify-content: center;
}
#game-panel>header img{
  width: 80%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

#game-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#game-nav ul {
  list-style: none;
  display: flex;
  flex-flow: column;
  width: 85%;
  gap: 1em;
}

#game-panel ul>li {
  border: var(--def-border);
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  background: var(--panel-button);
  display: flex;
  align-items: center;
  font-size: var(--normal-font);
  gap: 1.2vmax;
  padding: 0.5em 0.8em;
  cursor: pointer;
}

#loan-options {
  height: 4.5%;
  display: flex;
  justify-content: space-evenly;
}

#loan-options>div {
  background:var(--panel-button);
  padding: 0.5vmax;
  border: var(--def-border);
  border-radius: var(--def-curve);
}

#logs {
  border: var(--def-border);
  width: 85%;
  height: 35%;
  align-self: center;
  overflow: scroll;
  background-color: white;
}

#logs::-webkit-scrollbar {
  display: none;
}

#logs .log-icon {
  width: 8%;
  aspect-ratio: 1;
}

#logs .log-msg {
  width: 90%;
}

#logs>div:last-child {
  font-weight: 600;
  color: black;
}

#logs .log {
  width: 100%;
  display: flex;
  gap: 0.2vmax;
  align-items: center;
  padding: 0.4vmax 0.8vmax;
  color: gray;
}

#choose-dice {
  width: 85%;
  height: 4%;
  align-self: center;
}

#choose-dice .choice-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: lightgray;
}

#choose-dice .dice-option {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.selected {
  color: white;
  background-color: black;
}

#dice-box {
  border: var(--def-border);
  border-radius: var(--def-curve);
  border-style: dashed;
  width: 85%;
  min-width: 70px;
  align-self: center;
  aspect-ratio: 2.2;
  opacity: 0.5;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

#board-toggle {
  visibility: hidden;
}


#pay-loan:hover,
#take-loan:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.ratrace-tile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 30%;
  justify-items: center;
  position: relative;
}

.tile-info {
  justify-content: center;
  align-items: center;
  row-gap: 0.5vmax;
  position: absolute;
  width: 100%;
  height: 100%;
}

.ratrace-tile img {
  width: 45%;
  aspect-ratio: auto;
}

.card-deck img {
  width: 50%;
  aspect-ratio: auto;
}

.deal,
.doodad,
.payday,
.market,
.purples,
.downsized,
.baby,
.charity {
  border: var(--big-border);
}

.deal {
  border-color: var(--deal-border);
  background: radial-gradient(var(--deal-bg), #5eda6c);
}

.doodad {
  border-color: var(--doodad-border);
  background: radial-gradient(var(--doodad-bg), #e75c6a);
}

.payday {
  border-color: var(--payday-border);
  background: radial-gradient(var(--payday-bg), #e0c260);
}

.market {
  border-color: var(--market-border);
  background: radial-gradient(var(--market-bg), #5e95e0);
}

.purples,
.downsized,
.baby,
.charity {
  border-color: var(--others-border);
  background: radial-gradient(var(--others-bg), #9e7cf6);
}

#board {
  display: grid;
  justify-content: stretch;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  position: relative;
  width: 100%;
  height: 100%;
}

/* Grid element positions START*/
#rat-tile-3,
#rat-tile-4,
#rat-tile-5,
#rat-tile-6,
#rat-tile-7,
#rat-tile-8 {
  grid-column: 1;
}

#rat-tile-9,
#rat-tile-2 {
  grid-column: 2;
}

#rat-tile-10,
#rat-tile-1 {
  grid-column: 3;
}

#rat-tile-11,
#rat-tile-24 {
  grid-column: 4;
}

#rat-tile-12,
#rat-tile-23 {
  grid-column: 5;
}

#rat-tile-13,
#rat-tile-22 {
  grid-column: 6;
}

#rat-tile-14,
#rat-tile-21 {
  grid-column: 7;
}

#rat-tile-15,
#rat-tile-16,
#rat-tile-17,
#rat-tile-18,
#rat-tile-19,
#rat-tile-20 {
  grid-column: 8;
}

#rat-tile-8,
#rat-tile-9,
#rat-tile-10,
#rat-tile-11,
#rat-tile-12,
#rat-tile-13,
#rat-tile-14,
#rat-tile-15 {
  grid-row: 1;
}

#rat-tile-7,
#rat-tile-16 {
  grid-row: 2;
}

#rat-tile-6,
#rat-tile-17 {
  grid-row: 3;
}

#rat-tile-5,
#rat-tile-18 {
  grid-row: 4;
}

#rat-tile-4,
#rat-tile-19 {
  grid-row: 5;
}

#rat-tile-1,
#rat-tile-2,
#rat-tile-3,
#rat-tile-20,
#rat-tile-21,
#rat-tile-22,
#rat-tile-23,
#rat-tile-24 {
  grid-row: 6;
}

.game-area {
  grid-row: 2/6;
  grid-column: 2/8;
}

/* grid element positions end */

.game-area {
  margin: 0.5vmax;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  justify-content: stretch;
}

/* game area element positions  START*/

.card-deck,
#players,
#game-stats,
#logs {
  border: 0.1vmax solid;
  border-radius: 0.5vmax;
}

.card-deck {
  row-gap: 0.5vmax;
  justify-content: center;
  align-items: center;
}

#market {
  grid-row: 1/3;
  grid-column: 1;
  background-color: var(--market-bg);
}

#small-deal {
  grid-row: 7/9;
  grid-column: 1;
  background-color: var(--deal-bg);
}

#big-deal {
  grid-row: 1/3;
  grid-column: 5;
  background-color: var(--deal-bg);
}

#big-deal img {
  width: 60%;
}

#doodad {
  grid-row: 7/9;
  grid-column: 5;
  background-color: var(--doodad-bg);
}

/* game area element positions  end*/

#players {
  grid-row: 3/7;
  grid-column: 1;
  background-color: white;
  border-color: black;
  margin: 1vmax 0.5vmax;
  display: flex;
  padding: 0.2vmax 0;
  flex-direction: column;
  gap: 0.3vmax;
}

#game-stats {
  grid-row: 3/7;
  grid-column: 5;
  background-color: white;
  border: var(--big-border);
  border-style: dashed;
  margin: 1vmax 0.1vmax;
  display: flex;
  flex-direction: column;
}

#game-stats .heading {
  text-align: center;
  font-weight: 800;
  margin: 0.5vmax;
  padding-bottom: 1vmax;
}

#game-stats table {
  border-spacing: 0.5vmax 1vmax;
  border-collapse: separate;
}

#game-stats table th {
  max-width: 50%;
  text-align: left;
}

#game-stats table td {
  max-width: 50%;
  text-align: right;
}

.interaction-space {
  grid-row: 2/8;
  grid-column: 2/5;
  margin: 0 1vmax;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

/* interaction space arrangement START */

#interaction-screen {
  grid-row: 1;
  grid-column: 1/7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Card design starts */

#main-card {
  grid-row: 2/6;
  grid-column: 2/6;
  margin: 0.5vmax 0vmax;
  position: relative;
  border-radius: 0.5vmax;
  overflow: hidden;
}

.card-contents {
  padding: 0.5vmax;
  font-size: 0.9em;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.actions {
  align-self: flex-end;
  width: 100%;
  height: 20%;
  position: absolute;
}

.card-heading {
  margin-top: 0.5vmax;
  text-align: center;
  font-size: var(--normal-font);
  font-weight: 600;
  width: 100%;
  height: 10%;
}

.card-rule {
  padding-top: 0.5vmax;
  text-decoration: underline;
}

.card-rule,
.card-sub-rule {
  width: 100%;
  font-weight: 500;
}

.card-amount-block {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-amount-block>div {
  text-align: center;
  min-width: 50%;
  font-weight: 600;
}


.actions .warning {
  width: 100%;
  text-align: center;
}

.actions-wrapper {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  display: flex;
  padding: 0.5vmax;
}

.actions-wrapper .action-btn {
  width: 4vmax;
  border: var(--def-border);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8vmax;
}

/* Card design ends */

#message-space {
  display: flex;
  flex-direction: column;
  grid-row: 6;
  grid-column: 1/7;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

/* dice box positions  Start*/

#dice-box .dice {      
  position: relative;
  width: 64px;
  aspect-ratio: 1;
  background-color: crimson;
  transform-style: preserve-3d;
  transition: transform 1s;
  z-index: -1;
}

.container {
  position: relative;
}

#dice-2-container {
  display: none;
}

.dot {
  position: absolute;
  width: 0.7vmax;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  border: var(--def-border);
}

.dice-one, .dice-two {
  position: absolute;
}

.side {
  position: absolute;
  background-color: crimson;
  border: var(--def-border);
  width: 64px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side:nth-child(1) {
  transform: translateZ(32px); }

.side:nth-child(3) {
  transform: rotateY(90deg) translateZ(32px); }

.side:nth-child(4) {
  transform: rotateY(-90deg) translateZ(32px); }

.side:nth-child(5) {
  transform: rotateX(90deg) translateZ(32px); }

.side:nth-child(2) {
  transform: rotateX(-90deg) translateZ(32px); }

.side:nth-child(6) {
  transform: rotateY(180deg) translateZ(32px); }

.show-1 {
  transform: rotateX(720deg) rotateZ(-720deg); }

.show-6 {
  transform: rotateX(-900deg) rotateZ(1080deg); }

.show-3 {
  transform: rotateY(-450deg) rotateZ(-1440deg); }

.show-4 {
  transform: rotateY(810deg) rotateZ(720deg); }

.show-5 {
  transform: rotateX(-810deg) rotateZ(-1080deg); }

.show-2 {
  transform: rotateX(450deg) rotateZ(-720deg); }

.two-1,
.three-1,
.four-1,
.five-1,
.six-1 {
  top: 15%;
  left: 15%;
}

.four-3,
.five-3,
.six-4 {
  left: 15%;
  bottom: 15%;
}

.one-1,
.three-2,
.five-5 {
  position: initial;
}

.four-2,
.five-2,
.six-3 {
  top: 15%;
  right: 15%;
}

.two-2,
.three-3,
.four-4,
.five-4,
.six-6 {
  bottom: 15%;
  right: 15%;
}

.six-2 {
  left: 15%;
}

.six-5 {
  right: 15%;
}

/* dice box positions  End*/

/* Initial player positions */

#rat-tile-0 {
  grid-row: 8;
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
  margin: 0.5vmax 1vmax;
}

.start>img {
  width: 100%;
}

.tile-name {
  font-weight: 500;
}

.success {
  color: green;
}

.message {
  text-align: center;
  font-size: 1vmax;
}

.warning {
  color: red;
}

#expansion-window {
  position: absolute;
  z-index: -1;
  width: 84vw;
  height: 98vh;
  max-width: 85vw;
  max-height: 100vh;
}

.selected-window {
  filter: brightness(1.25);
}

.pulsate {
  animation-name: pulsate;
  animation-duration: 450ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes pulsate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.18);
  }
}

.expansion-window-screen {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: white;
  border: var(--def-border);
  box-shadow: 8px 8px 8px 8px black;
  z-index: -1;
  visibility: hidden;
  padding: 1vmax;
}

.expand-window {
  animation-name: expand-window;
  animation-duration: 100ms;
  animation-timing-function: linear;
}

@keyframes expand-window {
  from {
    visibility: hidden;
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
    visibility: visible;
  }
}

.close-window {
  animation-name: close-window;
  animation-duration: 200ms;
  animation-timing-function: linear;
}

@keyframes close-window {
  from {
    transform: translateX(0);
    z-index: 1;
    visibility: visible;
  }

  to {
    transform: translateX(100%);
    z-index: 1;
    visibility: hidden;
  }
}

.active {
  z-index: 1;
}

.inactive {
  z-index: -1;
}

.ledger-window {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.5vmax;
  height: 100%;
  padding: 1vmax;
}

.window-header {
  display: flex;
  padding: 0vmax 1vmax;
  font-weight: 600;
  width: 100%;
  justify-content: space-between;
}

.ledger-view {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 45vmax;
  max-height: 75vh;
}

.ledger-title {
  font-weight: 600;
  text-align: right;
}

.ledger-title,
.ledger-entry {
  display: flex;
  justify-content: space-between;
  padding: 0.5vmax;
  border-bottom: var(--def-border);
}

.ledger-title div,
.ledger-entry div {
  text-align: center;
  width: 25%;
}

.ledger-entries {
  height: 100%;
  overflow-y: scroll;
}

.window-title {
  font-size: var(--normal-font);
}

#game-nav li:hover {
  filter: brightness(1.2);
}

/* stocks styles */

#interaction-screen {
  width: 100%;
  height: 100%;
}

.selection-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vmax;
  width: 100%;
  height: 100%;
}

.close {
  color: var(--doodad-border);
  cursor: pointer;
}

.check {
  color: var(--deal-border);
  cursor: pointer;
}

.selection-box div:nth-child(1) {
  border-bottom: var(--def-border);
}

.selection-box div:not(:nth-child(1)),
.selection-box input[type='number'] {
  background-color: var(--deal-bg);
  border-style: none;
  padding: 0.2vmax;
  text-align: center;
  font-size: var(--small-font);
  outline: none;
}

#downsized-positions {
  grid-row: 2;
  grid-column: 5;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding-bottom: 1vmax;
}

#downsized-positions :nth-child(2) {
  border-bottom-left-radius: var(--def-curve);
  border-bottom-right-radius: var(--def-curve);
}

#rat-tile-12-1,
#rat-tile-12-2 {
  border: var(--def-border);
  border-color: var(--others-border);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.place-name {
  position: absolute;
  font-size: 2vmax;
  width: 100%;
  text-align: center;
}

/* Notifications styles */
.notify-wrapper {
  width: 65%;
  height: 2vmax;
  display: flex;
  align-items: center;
  margin-bottom: 0.8vmax;
  border: var(--def-border);
  border-radius: var(--def-curve);
}

.notify-msg {
  width: 90%;
  padding-top: 0.4em;
  height: 2vmax;
  text-align: center;
}

.notify-wrapper .close {
  width: 10%;
  height: max-content;
  text-align: center;
}

.fade-payday {
  background-image: linear-gradient(to right, var(--payday-bg), gold);
}

.fade-baby {
  background-image: linear-gradient(to right, var(--others-bg), #8461dd);
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: 2s;
  background-size: 200% 200%;
}

@keyframes fade {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 50%;
  }

  100% {
    opacity: 0%;
  }
}

.escape-popup {
  height: 10vmax;
  width: 20vmax;
  padding: 1vmax;
  position: absolute;
  top: 22vmax;
  left: 33vmax;
  background-color: aliceblue;
}

.escape-popup .username {
  text-align: center;
  font-size: var(--normal-font);
}

.escape-popup .button {
  width: 20%;
  text-align: center;
}