:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --bgColor: dimgrey;
  --def-border: 0.5px solid black;
  --big-border: 0.2vmax solid black;
  --def-curve: 0.5vmax;
  --page-header: 2.5vmax;
  --plain-font: 1.2vmax;
  --primary: #2e152f;
  --secondary-light: #f2e1c8;
  --deal-border: #40b34e;
  --deal-bg: #d7edda;
  --doodad-border: #ec2135;
  --doodad-bg: #f9d2d6;
  --payday-border: #f4c937;
  --payday-bg: #fbf1d6;
  --market-border: #417fd7;
  --market-bg: #d2e4f4;
  --others-border: #7746f0;
  --others-bg: #e3dbf8;
  --blue-p: #00b7ff;
  --green-p: #4eec66;
  --yellow-p: #f4e547;
  --pink-p: #ee3645;
  --violet-p: #7145f7;
  --orange-p: #fc880c;
  --grey-p: rgb(210 210 210);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}

body {
  font-family: var(--font-family);
  max-width: 100vw;
  max-height: 100vh;
}

.user-info-wrapper {
  width: 12vmax;
  position: fixed;
  top: 7vmax;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 50px;
  font-size: 1.7vmax;
}

.username {
  width: 70%;
  overflow: hidden;
}

.logout:hover {
  color: var(--doodad-border);
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  background: white;
  border: var(--def-border);
  color: black;
  cursor: pointer;
  display: block;
  padding: 0.5vmax;
  border-radius: 0.25vmax;
  width: 40%;
}

.blue {
  background-color: var(--blue-p);
}

.green {
  background-color: var(--green-p);
}

.yellow {
  background-color: var(--yellow-p);
}

.pink {
  background-color: var(--pink-p);
}

.violet {
  background-color: var(--violet-p);
}

.orange {
  background-color: var(--orange-p);
}

.grey {
  background-color: var(--grey-p);
}

.menu {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 60%;
  aspect-ratio: 2;
  font-size: 2vmax;
}

.btn {
  text-align: center;
  padding: 0.8em;
  border: var(--big-border);
  border-radius: var(--def-curve);
  background-color: white;
}

.btn:hover {
  cursor: pointer;
}

.interaction-box {
  border: 0.5vmax solid black;
  border-bottom: none;
  border-right: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  height: 100%;
  width: 40%;
  border-top-left-radius: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vmax;
  padding-left: 5vmax;
  padding-top: 5vmax;
}

.icon {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 2em;
  border: var(--def-border);
  z-index: 1;
  transition: 500ms ease;
}

.name {
  aspect-ratio: 8;
  width: 30%;
}

.row {
  display: flex;
  align-items: center;
  gap: 1vmax;
  text-align: center;
}

.heading {
  font-size: 4.5vmax;
}

.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-button>a {
  padding: 0.3vmax;
  font-size: 1.5vmax;
  cursor: pointer;
  border: var(--def-border);
  border-radius: var(--def-curve);
}

.not-found-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2vmax;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn {
  border: var(--def-border);
  border-radius: 0.25vmax;
  background-color: black;
  color: white;
  padding: 0.5vmax;
  cursor: pointer;
}