body {
  font-family: var(--font-family);
}

.page {
  height: 100%;
  display: flex;
  align-items: center;
  width: fit-content;
}

.menu {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 60%;
  aspect-ratio: 2;
  font-size: 2vmax;
}

.btn {
  text-align: center;
  padding: 0.8em;
  background-color: aliceblue;
}

.btn:hover {
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  color: black;
}

.page-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: transparent;
}

.join-popup-wrapper {
  height: 15vmax;
  width: 20vmax;
  border: var(--def-border);
  position: relative;
  top: 16vmax;
  left: 20vmax;
  background-color: white;
  border-radius: 0.25vmax;
}

.join-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5vmax;
}

.room-id {
  width: 80%;
  outline: 0;
  padding: 0.5vmax;
  border-style: none;
  border-bottom: var(--def-border);
  text-align: center;
}

.interaction-box {
  border: 0.5vmax solid black;
  border-bottom: none;
  border-right: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  height: 100%;
  width: 40%;
  border-top-left-radius: 200%;
  gap: 3vmax;
  padding-left: 5vmax;
  padding-top: 5vmax;
}

.join-error {
  width: 20vmax;
  position: relative;
  top: 14vmax;
  left: 20vmax;
  color: red;
  text-align: center;
}

#main-image {
  margin: 5vmax;
  height: 90vh;
  aspect-ratio: 1;
  overflow: hidden;
}

#main-image img {
  height: 100%;
}