body {
  font-family: var(--font-family);
}

.page {
  height: 100%;
  display: flex;
  align-items: center;
  width: fit-content;
}

.page-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: transparent;
}

.join-popup-wrapper {
  height: 28vmax;
  width: 22vmax;
  position: relative;
  top: 17vmax;
  left: 72vmax;
  background-color: white;
  border-radius: 0.25vmax;
}

.join-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5vmax;
}

.game-id {
  width: 60%;
  outline: 0;
  padding: 0.5vmax;
  border-style: none;
  border-bottom: var(--big-border);
  text-align: center;
  font-size: 2vmax;
}

.font-size {
  font-size: 1.2vmax;
}

.join-error {
  width: 20vmax;
  position: relative;
  top: 14vmax;
  left: 73vmax;
  color: red;
  text-align: center;
}

#main-image {
  margin: 5vmax;
  height: 90vh;
  aspect-ratio: 1;
  overflow: hidden;
}

#main-image img {
  height: 100%;
}