.other-players-wrapper {
  padding: 1vmax;
  margin: 0 auto;
}

.players-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 5em auto;
}

.row {
  display: flex;
  align-items: center;
  gap: 1em;
  text-align: center;
  border: var(--def-border);
  cursor: pointer;
}