#other-players {
  padding: 1vmax;
}

.players-wrapper {
  padding: 1vmax;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.player-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0.5vmax;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.055);
  cursor: pointer;
}