.profile-wrapper {
  position: relative;
  width: 50%;
  height: 100%;
  left: 50%;
  background-color: silver;
  font-size: 1vmax;
  padding: 1vmax;
}

.income-statement,
.balance-sheet {
  height: 40%;
}

.income-container,
.balance-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.income,
.expenses,
.assets,
.liabilities {
  width: 45%;
}

.income-wrapper,
.expenses-wrapper,
.assets-wrapper,
.liabilities-wrapper {
  height: 13vmax;
  overflow: scroll;
}

.profile-wrapper>header {
  display: flex;
  justify-content: space-between;
  padding: 1vmax 2vmax;
  font-weight: 600;
}

.salary-wrapper,
.savings-wrapper,
.my-details,
.total-income-wrapper,
.total-expenses-wrapper {
  display: flex;
  gap: 1vmax;
}

.my-details .icon {
  width: 2.3em;
}

.profile-wrapper table {
  font-size: 1vmax;
  padding-top: 1vmax;
}

.profile-wrapper main h3 {
  padding: 0.5vmax 0;
  background-color: black;
  color: white;
  padding-left: 1vmax;
}

.profile-wrapper table th {
  text-align: left;
  font-weight: 400;
  padding-right: 1vmax;
}

.total-income-wrapper,
.total-expenses-wrapper {
  padding-top: 0.5vmax;
  font-weight: 600;
}