<html>

<head>
  <title>Other Players</title>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/otherPlayers.css">
</head>

<body>
  <div class="other-players-wrapper">
    <header class="header">
      <div class="heading"> Other Players</div>
      <div class="player-info">
        <div class="name">Player</div>
        <div class="icon yellow"></div>
      </div>
    </header>
    <div class="players-wrapper">
      <div class="row">
        <div class="icon pink" id="player-icon"></div>
        <div class="name" id="player-name">Sasuke</div>
        <div class="profession" id="player-profession">Mechanic</div>
      </div>
      <div class="row">
        <div class="icon blue" id="player-icon"></div>
        <div class="name" id="player-name">Naruto</div>
        <div class="profession" id="player-profession">Teacher</div>
      </div>
      <div class="row">
        <div class="icon orange" id="player-icon"></div>
        <div class="name" id="player-name">Tanjiro</div>
        <div class="profession" id="player-profession">Police</div>
      </div>
      <div class="row">
        <div class="icon violet" id="player-icon"></div>
        <div class="name" id="player-name">Eren Yeager</div>
        <div class="profession" id="player-profession">Janitor</div>
      </div>
      <div class="row">
        <div class="icon green" id="player-icon"></div>
        <div class="name" id="player-name">Mikasa</div>
        <div class="profession" id="player-profession">Pilot</div>
      </div>
    </div>
  </div>
</body>

</html>