<html>

<head>
  <title>Profession Card</title>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/professionCard.css">
</head>

<body>
  <div id="profession-card">

    <header>
      <div id="profession-image">
        <img src="./lawyer.png" alt="Lawyer">
      </div>
      <div id="profession-details">
        <h3>Your Profession is</h3>
        <h1 id="profession">LAWYER</h1>
        <div>Goal : Build your <strong>Passive Income</strong> to be greater than your <strong>Total Expenses</strong>.
        </div>
      </div>
    </header>

    <div>
      <div id="income-statement">
        <h4>INCOME STATEMENT</h4>

        <h2>1. Income</h2>
        <table>
          <tbody>
            <tr>
              <th>Salary : </th>
              <td id="salary">$7500</td>
            </tr>
          </tbody>
        </table>

        <h2>2. Expenses</h2>
        <table>
          <tbody>
            <tr>
              <th>Taxes : </th>
              <td id="taxes">$1800</td>
            </tr>
            <tr>
              <th>Home Mortgage Payment : </th>
              <td id="home-mortgage-payment">$1100</td>
            </tr>
            <tr>
              <th>School Loan Payment : </th>
              <td id="school-loan-payment">$300</td>
            </tr>
            <tr>
              <th>Car Loan Payment : </th>
              <td id="car-loan-payment">$200</td>
            </tr>
            <tr>
              <th>Credit Card Payment : </th>
              <td id="credit-card-payment">$200</td>
            </tr>
            <tr>
              <th>Other Expenses : </th>
              <td id="other-expenses">$1500</td>
            </tr>
            <tr>
              <th>Bank Loan Payment : </th>
              <td id="bank-loan-payment">$0</td>
            </tr>
            <tr>
              <th>Per Child Expense : </th>
              <td id="per-child-expense">$400</td>
            </tr>
          </tbody>
        </table>

      </div>

      <div id="cashflow-block">
        <div class="values" id="income">$7500</div>
        <div class="symbol">+</div>
        <div class="values" id="passive-income">$0</div>
        <div id="total">
          <div class="symbol">=</div>
          <div class="values" id="total-income">$7500</div>
        </div>
        <div class="symbol">-</div>
        <div class="values" id="total-expense">$5100</div>
        <div id="cashflow">
          <div class="symbol">=</div>
          <div class="values" id="monthly-cashflow">$2400</div>
        </div>
        <div>Monthly Cash Flow</div>
      </div>
    </div>

    <div id="balance-section">
      <h4>BALANCE SHEET</h4>
      <div id="balance-sheet">
        <div>
          <h2>3. Assets</h2>
          <table>
            <tbody>
              <tr>
                <th>Savings : </th>
                <td id="savings">$2000</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <h2>4. Liabilities</h2>
          <table>
            <tbody>
              <tr>
                <th>Home Mortgage : </th>
                <td id="home-mortgage">$115000</td>
              </tr>
              <tr>
                <th>School Loans : </th>
                <td id="school-loans">$78000</td>
              </tr>
              <tr>
                <th>Car Loans : </th>
                <td id="car-loans">$11000</td>
              </tr>
              <tr>
                <th>Credit Card Debt : </th>
                <td id="credit-card-debt">$7000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>
</body>

</html>