<html lang="en">

<head>
  <title>Cashflow</title>
  <link rel="stylesheet" href="common.css">
  <link rel="stylesheet" href="board-style.css">
</head>

<body>
  <div class="page-wrapper">
    <div id="board"></div>
    <div id="game-panel">
      <header>
        <h2><a href="/">Cash Flow</a></h2>
      </header>
      <nav id="game-nav">
        <ul>
          <li id="profile">
            <span class="expands-indicator">«</span>
            My profile
            <div id="profile-coin"></div>
          </li>
          <li id="others-profile">
            <span class="expands-indicator">«</span>
            Other players
          </li>
          <li id="ledger">
            <span class="expands-indicator">«</span>
            Ledger
          </li>
        </ul>
      </nav>
      <div id="loan-options">
        <div id="take-loan">Take loan</div>
        <div id="pay-loan">Pay loan</div>
      </div>
      <div id="logs"></div>
      <div id="dice-box"></div>
      <div id="board-toggle"></div>
    </div>
  </div>
</body>

</html>