<html>

<head>
  <title>Profession Card</title>
  <link rel="stylesheet" href="../../public/css/common.css">
  <link rel="stylesheet" href="../../public/css/professionCard.css">
</head>

<body>
  <div class="page-wrapper">
    <div id="profession-card">
      <header>
        <div class="board">Rat Race</div>
        <div id="my-details">
          <div id="username">Ashritha</div>
          <div id="profession">Lawyer</div>
          <div class="icon yellow"></div>
        </div>
      </header>
      <main>
        <div>
          <div id="income-statement">
            <h4>INCOME STATEMENT</h4>
            <h2>1. Income</h2>
            <table>
              <tbody>
                <tr>
                  <th>Salary : </th>
                  <td id="salary"></td>
                </tr>
                <tr>
                  <th>Real estate investment</th>
                  <td id="salary">

                  </td>
                </tr>
              </tbody>
            </table>
            <h2>2. Expenses</h2>
            <table>
              <tbody>
                <tr>
                  <th>Taxes : </th>
                  <td id="taxes"></td>
                </tr>
                <tr>
                  <th>Home Mortgage Payment : </th>
                  <td id="home-mortgage-payment"></td>
                </tr>
                <tr>
                  <th>School Loan Payment : </th>
                  <td id="school-loan-payment"></td>
                </tr>
                <tr>
                  <th>Car Loan Payment : </th>
                  <td id="car-loan-payment"></td>
                </tr>
                <tr>
                  <th>Credit Card Payment : </th>
                  <td id="credit-card-payment"></td>
                </tr>
                <tr>
                  <th>Other Expenses : </th>
                  <td id="other-expenses"></td>
                </tr>
                <tr>
                  <th>Bank Loan Payment : </th>
                  <td id="bank-loan-payment"></td>
                </tr>
                <tr>
                  <th>Per Child Expense : </th>
                  <td id="per-child-expense"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="balance-section">
            <h4>BALANCE SHEET</h4>
            <div id="balance-sheet">
              <div>
                <h2>3. Assets</h2>
                <table>
                  <tbody>
                    <tr>
                      <th>Savings : </th>
                      <td id="savings"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <h2>4. Liabilities</h2>
                <table>
                  <tbody>
                    <tr>
                      <th>Home Mortgage : </th>
                      <td id="home-mortgage"></td>
                    </tr>
                    <tr>
                      <th>School Loans : </th>
                      <td id="school-loans"></td>
                    </tr>
                    <tr>
                      <th>Car Loans : </th>
                      <td id="car-loans"></td>
                    </tr>
                    <tr>
                      <th>Credit Card Debt : </th>
                      <td id="credit-card-debt"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </main>
      <div class="close">
        <button class="close-btn" onclick="closeMyProfile()">Close</button>
      </div>
    </div>
</body>

</html>